---
import Layout from '../../layouts/Layout.astro';
import ChessBoard from '../../components/ChessBoard.astro';

const params = Astro.url.searchParams
const game = params.get("game")
---

<Layout title="Play">
	<main class="flex items-center justify-center w-full h-screen">
  <ChessBoard gameMap={game}/>
  </main>
</Layout>

