---
import { generateSignin } from "lib/spotify/generate-signin";

export const prerender = false;

const { url, verifier } = await generateSignin();

Astro.cookies.set("verifier", verifier, {
  httpOnly: true,
  secure: true,
});
---

<a href={url}>Continue with Spotify</a>
