---
import ChessPiece from "./ChessPiece"
import {initializeChessBoard, encodeChessState} from "../modules/chess"
import {cn} from "../modules/cn"

interface Props  {
  gameMap: string
}

const {gameMap} = Astro.props as Props

const board = initializeChessBoard(gameMap)

---
<div class="flex flex-col">
{board.map((row, i) => (
  <div class="flex">
    {row.map((square) => (
      <div
      class={cn(
      i % 2 ? "odd:bg-green-600 even:bg-green-400" : "even:bg-green-600 odd:bg-green-400",
      "w-20 h-20 rounded-sm flex items-center justify-center")}>
        {square && <ChessPiece client:load piece={square}/>}
      </div>
    ))}
  </div>
))}
<a href={`play?game=${encodeChessState(board)}`}>test</a>
</div>

