---
import Layout from "./Layout.astro";

interface Props {
  next?: string;
  prev?: string;
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="p-20">
    <slot name="header" />
    <slot />
  </main>
</Layout>
